* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.logo {
  width: 50px;
  margin-left: 1rem;
}

.nav-items ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-items ul li {
  padding: 10px;
  margin: 10px;
}

.restro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restro-container a {
  text-decoration: none;
  color: black;
}

.restro-card {
  width: 240px;
  padding: 12px;
  background-color: #f0f0f07a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  margin-top: 2rem;
}

.restro-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.restro-logo {
  width: 100%;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
}

.login {
  padding: 12px;
  cursor: pointer;
}

.search {
  margin: 10px;
}

.search button {
  cursor: pointer;
  padding: 3px;
  margin-left: 10px;
}
